.st-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    
}

.st-box{
    width: 60%;
}

.st-title{
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
}

.st-list{
    margin-top: 20px;
    display: flex;
    
}

.st-item-large{
    flex: 1;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    
    border-radius: 15px;
    margin-right: 10px;
    
}

.st-item-large-ongoing{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-right: 10px;
}

.st-item-img{
    margin-right: 20px;
}

.st-item-img-style{
    border-radius: 10px;
    width: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.st-item-title{
    padding-bottom: 3px;

}

.st-item-center{
    text-transform: uppercase;
    font-size: 14px;
    color: #444;
}

.st-item-years{
    padding-top: 5px;
    font-weight: 600;
    color: #666;
}

.st-all{
    display: flex;
}

.st-studies{
    flex: 1.6;
}

.st-skills{
    flex: 1.5;
}

.sk-desc{
    display: flex;
    align-items: center;
}

.sk-img{
    max-width: 40px;
    height: 40px;

}
.sk-item-img{
    padding-right: 8px;
    width: 40px;
    display: flex;
    align-items: center;
}