.m-global{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.m-wrapper{
    width: 60%;
    display: flex;
    align-items: center;
}

.m-title{
    flex: 2;
}

.m-picture{
    padding-right: 10px;
}

.m-profile{
    border-radius: 50%;
    width: 220px;
}
.m-name{
    font-size: 45px;
    font-weight: 700;
}

.m-desc-box{
    padding: 20px 0px;
}

.m-desc{
    font-size: 18px;
    color: #333;
    padding-bottom: 10px;
}



@media screen and (max-width:480px) {

    .m-global{
    margin-bottom: 0;
    }

    .m-wrapper{
        flex-direction: column;
        width: 100%;
        padding: 30px;
        margin: 0;
    }

    .m-name{
        font-size: 30px;
        text-align: center;
    }

    .m-desc{
        font-size: 15px;
        text-align: center;
    }

}