.h-global{
    display: flex;
    justify-content: center;
}

.h-wrapper{
    display: flex;
    width: 60%;
    align-items: center;
}

.h-left{
    flex: 1;
    padding: 50px 0px;
}

.h-logo-img{
    width: 70px;
}


.h-center{
    flex: 1;
}

.h-right{
    flex: 1;
    padding: 50px 0px;
    display: flex;
    justify-content: flex-end;
}

.h-menu{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.h-menu-item{
    margin-left: 30px;
    margin-right: 10px;
    border-bottom: 3px solid white;
    cursor: pointer;
    transition: all ease 0.5s;
    flex: 1;
    
}

.h-menu-item:hover{
    border-bottom: 3px solid #555;
}
    

@media screen and (max-width:480px) {

    .h-wrapper{
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .h-menu{
        display: none;
    }

    .h-left{
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .h-logo-img{
        width: 170px;
    }

    .h-global{
        margin: 0;
        padding: 0;
    }

    .h-right{
        display: none;
    }
}