:root{
    --main-bg-color: rgb(137,163,152);
    --main-bg-color-light: rgba(137,163,152,0.3);
    --main-bg-color-orange: rgba(215,196,95,0.3);
    --main-blue: rgb(29,161,242);
    --main-blue-light: rgba(29,161,242,0.3);
    --main-orange: rgb(246,155,66);
    --main-orange-light: rgba(246,155,66,0.5);
}

a{
    color: inherit;
    text-decoration: none;
}