.w-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F6F8FC;
}

.w-box{
    width: 60%;
}

.w-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.w-list{
    
}

.w-entry{
    display: flex;
}

.w-date{
    padding-top: 5px;
    width: 25%;
    text-align: right;
}

.w-date-value{
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 2px;
    color: #666;
}

.w-middle{
    display: flex;
    justify-content: center;

}

.w-line:after{
    content: "";
    position: absolute;
    border-left: 1px solid #ccc;
    transform: translate(-50%);
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 50%
}

.w-ball{
    position: absolute;
    top: 5px;
    width: 20px;
    height: 20px;
    background-color: #89A398;
    border-radius:  50%;
    z-index: 1;
    box-shadow: rgba(135, 161, 150, 0.5) 0px 10px 8px 0px;
}

.w-ball-fade{
    opacity: 0.3;
    position: absolute;
    top: 12px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}


.w-line{
    position: relative;
    width: 8%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.w-card{
    width: 60%;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
}

.w-card-title{
    font-size: 13px;
    text-transform: uppercase;
    color: #444;
    
}

.w-card-company{
    color: #89A398;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 2px;
}

.w-card-text{
    color: #666;
    font-size: 14px;
}